#map {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid red;
  width: 99%;
  height: 99%;
  transform: translate(-50%, -50%);
}

#chat {
  background-color: red;
  opacity: 0.6;
  width: 30%;
  height: 30%;
  position: absolute;
  margin: 0.5%;
  top: 69%;
}
